
.icon-chart-pie-outline:before { content: '\e800'; } /* '' */
.icon-cog-outline:before { content: '\e801'; } /* '' */
.icon-diamond:before { content: '\e802'; } /* '' */
.icon-child:before { content: '\e803'; } /* '' */
.icon-heart-empty:before { content: '\e804'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
